.fecha{
    width: 50%;
}
.border-cambio{
    border-inline-end: 2px solid black;
}
.nu-ide{
    width: 100%;
}
.tipo-ide{
    width: 100%;
}
.fecha-soli{
    width: 50%;
}
.img-fode{
    display: flex;
}

.a4-page {
    width: 70%;  /* Ancho en píxeles para una hoja A4 */
    padding: 1px; /* Padding opcional */
    margin: 1px auto; /* Centrar la hoja horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    background-color: #fff; /* Color de fondo */
}

.custom-checkbox {
    width: 18px; /* Tamaño del cuadro del checkbox */
    height: 18px;
    margin: 0; /* Ajusta los márgenes según sea necesario */
    vertical-align: middle; /* Alineación vertical */
}

.div-tipo{
    display: flex;
    flex-direction: row;
}
.div-conyuge{
    width: 25%;
}
.hijos{
    padding-left: 7px;
    padding-right: 7px;
}
@media screen and (max-width: 1060px) {
    .fecha{
        width: 100%;
    }
    .hijos{
        padding-left: 0px;
        padding-right: 0px;
    }
    .div-conyuge{
        width: 50%;
    }
    .font-titulos{
        font-size: 14px;
        padding-top: 5px;
    }
    .font-sin-pad{
        font-size: 14px;   
    }
    .font-text{
        font-size: 12px;
    }
    .img-fode{
        display: none;
    }
    .div-tipo{
        flex-direction: column;
    }
    .border-cambio{
        border-inline-end:none;
        border-block-end: 2px solid black;
        width: 100%;
    }
    .nu-ide{
        width: 75%;
    }
    .tipo-ide{
        width: 50%;
    }
    .fecha-soli{
        width: 75%;
    }
    .a4-page{
        width: 100%;
    }
}
